@{
    ViewBag.Title = "TTKAART.NL - Nieuws";
    ViewBag.Description = "Overzicht van nieuwsitems op ttkaart.nl";
    ViewBag.HasSideBar = true;
    ViewBag.Robots = "all";
}

<h1>Nieuws</h1>

<p>
	<table class="news">
        <tr><td>16/01/2017 :</td><td>ttkaart.nl is gestopt</td></tr>
        <tr><td>01/05/2016 :</td><td>Persoonlijke resultaten voorjaar 2016 online</td></tr>
        <tr><td>20/04/2016 :</td><td>Basisratings voorjaar 2016 toegevoegd</td></tr>
        <tr><td>28/03/2016 :</td><td>Correcte onderverdeling van poules in Holland Noord (regio Noord/Zuid)</td></tr>
        <tr><td>03/12/2015 :</td><td>Persoonlijke resultaten najaar 2015 online</td></tr>
        <tr><td>24/10/2015 :</td><td>Tussentijdse resultaten najaar 2015 online</td></tr>
        <tr><td>15/07/2015 :</td><td>Basisratings najaar 2004, voorjaar/najaar 2005 en voorjaar 2006 toegevoegd</td></tr>
        <tr><td>29/04/2015 :</td><td>Persoonlijke resultaten voorjaar 2015 online</td></tr>
        <tr><td>23/04/2015 :</td><td>Licentie(historie) NAS toegevoegd aan detailpagina spelers</td></tr>
        <tr><td>18/03/2015 :</td><td>Tussentijdse resultaten voorjaar 2015 online</td></tr>
        <tr><td>11/03/2015 :</td><td>Overzicht teamgenoten toegevoegd aan detailpagina's spelers</td></tr>
        <tr><td>17/01/2015 :</td><td>Resultaten Junioren ZuidWest voorjaar 2010 toegevoegd</td></tr>
        <tr><td>29/12/2014 :</td><td>Resultaten Junioren Starters afdeling Midden toegevoegd</td></tr>
        <tr><td>29/12/2014 :</td><td>Berekeningen teamratings aangepast</td></tr>
        <tr><td>29/12/2014 :</td><td>Weergave artikelen van Wikipedia aangepast</td></tr>
        <tr><td>03/12/2014 :</td><td>Persoonlijke resultaten najaar 2014 online</td></tr>	
        <tr><td>03/12/2014 :</td><td>Resultaten Senioren ZuidWest voorjaar 2010 gecorrigeerd</td></tr>	
        <tr><td>09/11/2014 :</td><td>Overzichten ratings en statistieken aantal spelers/verenigingen toegevoegd</td></tr>
        <tr><td>18/10/2014 :</td><td>Tussentijdse resultaten najaar 2014 online</td></tr>
        <tr><td>03/05/2014 :</td><td>Persoonlijke resultaten voorjaar 2014 online</td></tr>
		<tr><td>23/04/2014 :</td><td>Samenvatting persoonlijke resultaten toegevoegd</td></tr>
		<tr><td>03/04/2014 :</td><td>Overzicht van poules per competitieseizoen toegevoegd</td></tr>
		<tr><td>20/03/2014 :</td><td>Tussentijdse resultaten voorjaar 2014 online</td></tr>
		<tr><td>08/03/2014 :</td><td>Namen van spelers worden (voor zover mogelijk) uniform weergegeven</td></tr>
		<tr><td>02/02/2014 :</td><td>Diverse verbeteringen doorgevoerd en nieuwe clubgegevens toegevoegd</td></tr>
		<tr><td>18/01/2014 :</td><td>Vernieuwde website staat online</td></tr>
		<tr><td>18/01/2014 :</td><td>ttkaart.nl bestaat vijf jaar</td></tr>
		<tr><td>08/12/2013 :</td><td>Alle persoonlijke resultaten najaar 2013 online</td></tr>
		<tr><td>06/11/2013 :</td><td>Basisratings najaar 2013 bijgewerkt</td></tr>
		<tr><td>24/10/2013 :</td><td>Tussentijdse resultaten najaar 2013 online</td></tr>
		<tr><td>18/09/2013 :</td><td>Basisratings Pupillen B/C/D afdeling West t/m najaar 2009 gecorrigeerd</td></tr>
		<tr><td>26/05/2013 :</td><td>Alle definitieve persoonlijke resultaten voorjaar 2013 online</td></tr>
		<tr><td>05/05/2013 :</td><td>Wikipedia-pagina's spelers en verenigingen toegevoegd</td></tr>
		<tr><td>24/04/2013 :</td><td>Persoonlijke resultaten voorjaar 2013 online</td></tr>
		<tr><td>08/12/2012 :</td><td>Persoonlijke resultaten najaar 2012 online</td></tr>
		<tr><td>26/10/2012 :</td><td>Verenigingen voorzien van links naar website en social media</td></tr>
		<tr><td>18/10/2012 :</td><td>Tussentijdse resultaten najaar 2012 online</td></tr>
		<tr><td>01/09/2012 :</td><td>Officieuze teamratings toegevoegd</td></tr>		
		<tr><td>14/06/2012 :</td><td>ttkaart.nl voldoet aan nieuwe wetgeving omtrent cookie-gebruik</td></tr>		
		<tr><td>28/05/2012 :</td><td>Definitieve persoonlijke resultaten voorjaar 2012 online</td></tr>
		<tr><td>23/04/2012 :</td><td>Pagina <a href="http://www.facebook.com/ttkaart"  target="_blank">ttkaart.nl</a> op Facebook aangemaakt</td></tr>
		<tr><td>23/04/2012 :</td><td>Persoonlijke resultaten voorjaar 2012 online</td></tr>
		<tr><td>14/03/2012 :</td><td>Tussentijdse resultaten voorjaar 2012 online</td></tr>
		<tr><td>18/12/2011 :</td><td>Basisratings najaar 2011 bijgewerkt</td></tr>
		<tr><td>11/12/2011 :</td><td>Persoonlijke resultaten najaar 2011 online</td></tr>
		<tr><td>02/11/2011 :</td><td>Tussentijdse resultaten najaar 2011 online</td></tr>
		<tr><td>25/04/2011 :</td><td>Basisratings toegevoegd aan tabellen en grafieken</td></tr>
		<tr><td>20/04/2011 :</td><td>Persoonlijke resultaten voorjaar 2011 online</td></tr>
		<tr><td>17/03/2011 :</td><td>Tussentijdse resultaten voorjaar 2011 online</td></tr>
		<tr><td>06/12/2010 :</td><td>Persoonlijke resultaten najaar 2010 online</td></tr>
		<tr><td>23/10/2010 :</td><td>Tussentijdse resultaten najaar 2010 online</td></tr>
		<tr><td>18/10/2010 :</td><td>Resultaten Gelre (najaar 2009/voorjaar 2010) online</td></tr>
		<tr><td>11/08/2010 :</td><td>Resultaten Limburg (voorjaar 2010) online</td></tr>
		<tr><td>09/08/2010 :</td><td>Resultaten junioren ZuidWest (voorjaar 2010) online</td></tr>
		<tr><td>04/07/2010 :</td><td>Resultaten voorjaar 2010 online</td></tr>
		<tr><td>07/04/2010 :</td><td>Tussentijdse voorjaar 2010 online</td></tr>
		<tr><td>13/01/2010 :</td><td>Statistieken senioren Midden najaar 2009 online</td></tr>
		<tr><td>29/12/2009 :</td><td>Meer statistieken najaar 2009 online</td></tr>
		<tr><td>29/12/2009 :</td><td>Volg ttkaart.nl op Twitter: <a href="http://twitter.com/ttkaart/" target="_blank">twitter.com/ttkaart</a></td></tr>
		<tr><td>16/10/2009 :</td><td>Statistieken najaar 2009 toegevoegd</td></tr>
		<tr><td>18/09/2009 :</td><td>Statistieken 5 seizoenen landelijke competitie toegevoegd</td></tr>
		<tr><td>26/07/2009 :</td><td>Statistieken afdeling Zuid-West gedeeltelijk toegevoegd</td></tr>
		<tr>
            <td>17/07/2009 :</td>
            <td>
                Statistieken nu ook beschikbaar op <a href="http://www.hyves.nl/gadgetgallery/450/Tafeltennisresultaten/" target="_blank">Hyves</a>!<br />
                <small>(Gadget niet meer beschikbaar vanwege stoppen Hyves met sociaal netwerk)</small>
            </td>
        </tr>
		<tr><td>28/05/2009 :</td><td>Statistieken senioren Midden toegevoegd</td></tr>
		<tr><td>25/05/2009 :</td><td>Statistieken junioren Midden toegevoegd</td></tr>
		<tr><td>17/05/2009 :</td><td>Statistieken DDW-competitie Limburg toegevoegd</td></tr>
		<tr><td>04/05/2009 :</td><td>Statistieken Duo-competitie West toegevoegd</td></tr>
		<tr><td>01/05/2009 :</td><td>Statistieken Limburg toegevoegd</td></tr>
		<tr><td>28/04/2009 :</td><td>Resultaten voorjaar 2009 toegevoegd</td></tr>
		<tr><td>24/02/2009 :</td><td>Resultaten Eredivise najaar 2008 toegevoegd</td></tr>
		<tr><td>17/02/2009 :</td><td>Contactformulier toegevoegd</td></tr>
		<tr><td>15/02/2009 :</td><td>Nieuwe layout</td></tr>
		<tr><td>01/02/2009 :</td><td>Progressie spelers toegevoegd</td></tr>
		<tr><td>01/02/2009 :</td><td>Ratings &amp; licenties toegevoegd</td></tr>
		<tr><td>01/02/2009 :</td><td>Overzicht spelers per vereniging</td></tr>
		<tr><td>01/02/2009 :</td><td>Zoeken op speler/vereniging</td></tr>
		<tr><td>18/01/2009 :</td><td>Site online</td></tr>
	</table>
</p>
