@{
    ViewBag.Title = "TTKAART.NL - Links";
    ViewBag.Description = "Links naar diverse websites, NTTB, alle afdelingen, spelers, nieuws, toernooien.";
    ViewBag.HasSideBar = true;
    ViewBag.Robots = "all";
}

<h1>Links</h1>

<table>
    <tr>
        <td style="width:50%;vertical-align:top">
            <h2>Sites tafeltennisbonden</h2>
	        <ul style="margin-left:16px;">
		        <li>
			        <a href="http://www.nttb.nl/" target="_blank">NTTB</a>
			        <a title="Twitter NTTB" href="https://twitter.com/tafeltennis" target="_blank"><img alt="Twitter NTTB" style="vertical-align:middle;" src="~/Content/Images/icon_twitter.png" /></a>
			        <a title="Facebookpagina NTTB" href="https://www.facebook.com/NederlandseTafeltennisbond" target="_blank"><img alt="Facebookpagina NTTB" style="vertical-align:middle;" src="~/Content/Images/icon_facebook.png" /></a>
                </li>
                <li>
                    <a href="http://www.nttb-ranglijsten.nl" target="_blank">NTTB Ranglijsten</a>
                </li>
		        <li><a href="http://www.nttbgelre.nl/" target="_blank">Afdeling Gelre</a></li>
		        <li><a href="http://holland-noord.nttb.nl/" target="_blank">Afdeling Holland Noord</a></li>
                <li>
                    <a href="http://www.nttblimburg.nl/" target="_blank">Afdeling Limburg</a>
                    <a title="Twitter NTTB Limburg" href="https://twitter.com/nttblimburg" target="_blank"><img alt="Twitter NTTB Limburg" style="vertical-align:middle;" src="~/Content/Images/icon_twitter.png" /></a>
                </li>
                <li><a href="http://midden.nttb.nl/" target="_blank">Afdeling Midden</a></li>
		        <li>
                    <a href="http://noord.nttb.nl/" target="_blank">Afdeling Noord</a>
			        <a title="Twitter NTTB Noord" href="https://twitter.com/NTTBNoord" target="_blank"><img alt="Twitter NTTB Noord" style="vertical-align:middle;" src="~/Content/Images/icon_twitter.png" /></a>
                    <a title="Facebookpagina NTTB Noord" href="https://www.facebook.com/NttbAfdelingNoord" target="_blank"><img alt="Facebookpagina NTTB Noord" style="vertical-align:middle;" src="~/Content/Images/icon_facebook.png" /></a>
                </li>
		        <li><a href="http://www.nttb-oost.nl/" target="_blank">Afdeling Oost</a></li>
		        <li><a href="http://www.nttb-west.nl/" target="_blank">Afdeling West</a></li>
		        <li>
			        <a href="http://www.nttb-zuidwest.nl/" target="_blank">Afdeling Zuid-West</a>
			        <a title="Twitter NTTB ZuidWest" href="https://twitter.com/nttbZuidWest" target="_blank"><img alt="Twitter NTTB ZuidWest" style="vertical-align:middle;" src="~/Content/Images/icon_twitter.png" /></a>
		        </li>
                <li><a href="http://www.wutto.org/" target="_blank">WUTTO</a></li>
                <li>
                    <a href="http://www.ittf.com/" target="_blank">ITTF</a>
                    <a title="Twitter International Table Tennis Federation" href="https://twitter.com/ITTFWorld" target="_blank"><img alt="Twitter International Table Tennis Federation" style="vertical-align:middle;" src="~/Content/Images/icon_twitter.png" /></a>
                    <a title="Facebookpagina International Table Tennis Federation" href="https://www.facebook.com/ITTFWorld" target="_blank"><img alt="Facebookpagina International Table Tennis Federation" style="vertical-align:middle;" src="~/Content/Images/icon_facebook.png" /></a>
                    (International Table Tennis Federation)
                </li>
                <li>
                    <a href="http://www.ettu.org/" target="_blank">ETTU</a>
                    <a title="Twitter European Table Tennis Union" href="https://twitter.com/ETTU_TTennis" target="_blank"><img alt="Twitter European Table Tennis Union" style="vertical-align:middle;" src="~/Content/Images/icon_twitter.png" /></a>
                    <a title="Facebookpagina European Table Tennis Union" href="https://www.facebook.com/EuropeanTableTennisUnion" target="_blank"><img alt="Facebookpagina European Table Tennis Union" style="vertical-align:middle;" src="~/Content/Images/icon_facebook.png" /></a>
                    (European Table Tennis Union)
                </li>
            </ul>

        </td>
        <td style="width:50%;vertical-align:top">
            <h2>Sites spelers</h2>
	        <ul style="margin-left:16px;">
		        <li><a href="http://www.bashergelink.nl/" target="_blank">Bas Hergelink</a></li>
                <li>
                    <a href="http://britteerland.nl/" target="_blank">Britt Eerland</a>
                    <a title="Twitter Britt Eerland" href="https://twitter.com/BBtjee" target="_blank"><img alt="Twitter Britt Eerland" style="vertical-align:middle;" src="~/Content/Images/icon_twitter.png" /></a>
                    <a title="Facebookpagina Britt Eerland" href="https://www.facebook.com/officialbritteerland" target="_blank"><img alt="Facebookpagina Britt Eerland" style="vertical-align:middle;" src="~/Content/Images/icon_facebook.png" /></a>
                </li>
		        <li><a href="http://www.danielledejong.com/" target="_blank">Daniëlle de Jong</a></li>
		        <li><a href="http://www.gerbenlast.nl/" target="_blank">Gerben Last</a></li>
		        <li><a href="http://www.kellyvanzon.nl/" target="_blank">Kelly van Zon</a></li>
		        <li><a href="http://laurens.tromer.nl/" target="_blank">Laurens Tromer</a></li>
		        <li><a href="http://www.stellansmid.nl/" target="_blank">Stellan Smid</a></li>
		        <li><a href="http://www.wendyschrijver.nl/" target="_blank">Wendy Schrijver</a></li>
	        </ul>
        </td>
    </tr>

    <tr><td colspan="2"></td></tr>

    <tr>
        <td style="width:50%;vertical-align:top">
            <h2>Nieuws</h2>
	        <ul style="margin-left:16px;">
		        <li>
			        <a href="http://www.tafeltennis.nu/" target="_blank">tafeltennis.nu</a>
			        <a title="Twitter tafeltennis.nu" href="https://twitter.com/TT_nu" target="_blank"><img alt="Twitter tafeltennis.nu" style="vertical-align:middle;" src="~/Content/Images/icon_twitter.png" /></a>
			        <a title="Facebookpagina tafeltennis.nu" href="https://www.facebook.com/tafeltennisnu" target="_blank"><img alt="Facebookpagina tafeltennis.nu" style="vertical-align:middle;" src="~/Content/Images/icon_facebook.png" /></a>
                </li>
		        <li>
			        <a href="http://www.tafeltennisactua.be/" target="_blank">tafeltennisactua.be</a>
			        <a title="Twitter tafeltennisactua.be" href="https://twitter.com/ttactua" target="_blank"><img alt="Twitter tafeltennisactua.be" style="vertical-align:middle;" src="~/Content/Images/icon_twitter.png" /></a>
			        <a title="Facebookpagina tafeltennisactua.be" href="https://www.facebook.com/Tafeltennisactua.be" target="_blank"><img alt="Facebookpagina tafeltennisactua.be" style="vertical-align:middle;" src="~/Content/Images/icon_facebook.png" /></a>
                </li>
		        <li>
			        <a href="http://tafeltennisprimeur.nl/" target="_blank">tafeltennisprimeur.nl</a>
			        <a title="Twitter tafeltennisprimeur.nl" href="https://twitter.com/TTPrimeur" target="_blank"><img alt="Twitter tafeltennisprimeur.nl" style="vertical-align:middle;" src="~/Content/Images/icon_twitter.png" /></a>
			        <a title="Facebookpagina tafeltennisprimeur.nl" href="https://www.facebook.com/TafeltennisPrimeur" target="_blank"><img alt="Facebookpagina tafeltennisprimeur.nl" style="vertical-align:middle;" src="~/Content/Images/icon_facebook.png" /></a>
		        </li>
                <li>
                    <a href="http://www.ttspot.nl/" target="_blank">TTSpot.nl</a>
                    <a title="Twitter ttspot.nl" href="https://twitter.com/TafeltennisSpot" target="_blank"><img alt="Twitter ttspot.nl" style="vertical-align:middle;" src="~/Content/Images/icon_twitter.png" /></a>
                    <a title="Facebookpagina ttspot.nl" href="https://www.facebook.com/TafeltennisSpot" target="_blank"><img alt="Facebookpagina ttspot.nl" style="vertical-align:middle;" src="~/Content/Images/icon_facebook.png" /></a>
                </li>
                <li>
                    <a href="http://www.tafeltennisnederland.nl/" target="_blank">Tafeltennis Nederland</a>
                    <a title="Twitter Tafeltennis Nederland" href="http://www.twitter.com/TafelTNederland" target="_blank"><img alt="Twitter Tafeltennis Nederland" style="vertical-align:middle;" src="~/Content/Images/icon_twitter.png" /></a>
                    <a title="Facebookpagina Tafeltennis Nederland" href="http://www.facebook.com/tafeltennis-nederland" target="_blank"><img alt="Facebookpagina Tafeltennis Nederland" style="vertical-align:middle;" src="~/Content/Images/icon_facebook.png" /></a>
                </li>
	        </ul>
        </td>
        <td style="width:50%;vertical-align:top">
            <h2>Toernooien</h2>
	        <ul style="margin-left:16px;">
		        <li>
			        <a href="http://diederiktoernooi.tafeltenniszwolle.nl/" target="_blank">Diederik Steunenberg Toernooi</a>
			        <a title="Facebookpagina Diederiek Steunenberg Toernooi" href="https://www.facebook.com/diederiksteunenbergtoernooi" target="_blank"><img alt="Facebookpagina Diederiek Steunenberg Toernooi" style="vertical-align:middle;" src="~/Content/Images/icon_facebook.png" /></a>
		        </li>
		        <li>
			        <a href="http://www.edrtoernooi.com/" target="_blank">EDR toernooi</a>
			        <a title="Twitter EDR Toernooi" href="https://twitter.com/EDRToernooi" target="_blank"><img alt="Twitter EDR Toernooi" style="vertical-align:middle;" src="~/Content/Images/icon_twitter.png" /></a>
			        <a title="Facebookpagina EDR Toernooi" href="https://www.facebook.com/EDRToernooi" target="_blank"><img alt="Facebookpagina EDR Toernooi" style="vertical-align:middle;" src="~/Content/Images/icon_facebook.png" /></a>
                </li>
	        </ul>
        </td>
    </tr>

    <tr><td colspan="2"></td></tr>

    <tr>
        <td style="width:50%;vertical-align:top">
            <h2>Youtube</h2>
	        <ul style="margin-left:16px;">
		        <li><a href="http://www.youtube.com/user/TableTennisMaster" target="_blank">TableTennisMaster</a></li>
		        <li><a href="http://www.youtube.com/user/ttCountenance" target="_blank">ttCountenance</a> (veel wedstrijden, goede kwaliteit!)</li>
	        </ul>
        </td>
        <td style="width:50%;vertical-align:top">
            <h1>Overige</h1>
	        <ul style="margin-left:16px;">
                <li>
                    <a href="http://www.vvtt.nl/" target="_blank">Vereniging van Tafeltennistrainers</a>
                    <a title="Twitter Vereniging van Tafeltennistrainers" href="https://twitter.com/VVTT1" target="_blank"><img alt="Twitter Vereniging van Tafeltennistrainers" style="vertical-align:middle;" src="~/Content/Images/icon_twitter.png" /></a>
                    <a title="Facebookpagina Vereniging van Tafeltennistrainers" href="https://www.facebook.com/groups/284197644999088/" target="_blank"><img alt="Facebookpagina Vereniging van Tafeltennistrainers" style="vertical-align:middle;" src="~/Content/Images/icon_facebook.png" /></a>
                </li>
                <li><a href="http://www.otcnederland.com/" target="_blank">Old Timers Club Nederland</a></li>
		        <li><a href="http://www.tabletennisdb.com/" target="_blank">Table Tennis Database</a> (reviews van frames, rubbers etc.)</li>
		        <li><a href="http://www.tafeltennisforum.net/" target="_blank">Tafeltennisforum.net</a> (Het Tafeltennisforum van Nederland!)</li>
                <li><a href="http://tafeltennis.startpagina.nl" target="_blank">tafeltennis.startpagina.nl</a></li>        
	        </ul>
        </td>
    </tr>
</table>
