
@{
    ViewBag.Title = "TTKAART.NL - Tafeltennis Statistieken";
    ViewBag.Description = "Dé site met tafeltennisstatistieken, overzicht van persoonlijke resultaten door de jaren heen.";
    ViewBag.HasSideBar = true;
    ViewBag.Robots = "all";
}

<h1>ttkaart.nl stopt ermee</h1>

<p>
    Beste tafeltennisvrienden,
</p>
<p>
    Het is inmiddels alweer 8 jaar geleden dat ik de eerste versie van ttkaart.nl online heb gezet. In eerste instantie was ttkaart.nl bedoeld als "antwoord" op de website ttstats.nl welke mij niet compleet/actueel genoeg was. Later gaf de wetenschap dat veel mensen de informatie op de website waardeerden (en nog steeds waarderen) me veel voldoening. Eind 2013, begin 2014 gebruikte ik het ook als middel om kennis op te doen over C# en het .Net framework.
</p>
<p>
    Tot het einde van 2015 heb ik altijd met veel plezier aan de ttkaart.nl gewerkt, daarna werd de motivatie om er mee door te gaan minder. Zoals sommigen van jullie misschien al hebben opgemerkt, is ttkaart.nl nu ook al een paar maanden lang niet meer bijgewerkt. Zo ontbreken nog steeds de persoonlijke resultaten van najaar 2016.
</p>
<p>
    De reden hiervoor is dat er heel veel wijzigingen en nieuwe ontwikkelingen nodig zijn om de nieuwe ELO-rating te kunnen hanteren op ttkaart.nl. Helaas ontbreekt bij mij de motivatie om aan de slag te gaan met de werkzaamheden die nodig zijn om de nieuwe ELO-rating weer te geven op ttkaart.nl. Aangezien ttkaart.nl zonder ELO-rating is niet relevant genoeg is, heb ik besloten te stoppen met ttkaart.nl.
</p>
<p>
    Ik laat ttkaart.nl voorlopig nog wel online staan, maar voor nieuwe informatie zullen jullie <a href="http://ttapp.nl" target="_blank">ttapp.nl</a> en <a href="http://nttb-ranglijsten.nl" target="_blank">nttb-ranglijsten.nl</a> moeten raadplegen. Op die twee websites is ook (bijna) alle informatie te vinden die via ttkaart.nl beschikbaar is, en natuurlijk de nieuwe ELO-rating.
</p>
<p>
    Bij deze wil ik iedereen bedanken die op de één of andere manier heeft bijgedragen aan ttkaart.nl, door het aanleveren van nieuwe persoonlijke resultaten, doorgeven van correcties, suggesties en natuurlijk alle positieve reacties!
</p>
<p>
    Met vriendelijke groeten,<br />
    Arjan Bakker
</p>
<p>&nbsp;</p>

<hr />

<h2>Disclaimer</h2>
<p>
Disclaimer: Aan de gegevens vermeld op deze website kunnen geen rechten worden ontleend. 
De gegevens op deze website zijn gebaseerd op publiekelijk toegankelijke gegevens op nttb.nl en de websites van de afdelingen.
Deze website is niet gelieerd aan de NTTB.
De ratings en licenties weergegeven op deze website zijn puur indicatief bedoeld.
</p>
