
@{
    ViewBag.Title = "TTKAART.NL - Bedankt";
    ViewBag.Description = "Bedankt voor uw bericht!";
    ViewBag.HasSideBar = true;
    ViewBag.Robots = "all";
}

<h1>Bedankt!</h1>
<p>Bedankt voor je bericht!</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Disclaimer</h2>
<p>
Disclaimer: Aan de gegevens vermeldt op deze website kunnen geen rechten worden ontleend.<br/>
De weergegeven ratings en licenties zijn puur indicatief bedoeld. 
</p>
