@model ttkaart.ViewModels.PlayerStatisticsViewModel

@using ttkaart.Helpers
@using ttkaart.Service
@using ttkaart.Models

@{
    ViewBag.Title = "TTKAART.NL - Overzicht aantal seniorenspelers per afdeling per seizoen";
    ViewBag.Description = "Overzicht aantal seniorenspelers per afdeling per seizoen";
    ViewBag.HasSideBar = false;
    ViewBag.Robots = "all";
}

<h1>Statistieken</h1>

<p>
    Bekijk statistieken van:
    @Html.RouteLink("Spelers", "StatistiekenSpelers")
    @Html.RouteLink("Junioren", "StatistiekenSpelersJunioren")
    @Html.RouteLink("Senioren", "StatistiekenSpelersSenioren", null, new { style = "font-weight:bold;" })
    @Html.RouteLink("Verenigingen", "StatistiekenVerenigingen")
</p>

<br />

<h2>Overzicht aantal seniorenspelers per afdeling per seizoen</h2>

@{ Html.RenderPartial("~/Views/Shared/_PlayersStats.cshtml", Model); }
